.about {
  display: flex;
  position: relative;
}

.schedule {
  position: absolute;
  top: 222px;
  left: 186px;
}

.about__description {
  display: flex;
  flex-direction: column;
  width: 674px;
  margin-left: 72px;
}
