.about {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-first {
  display: flex;
  height: 650px;
}

.about-second {
  display: flex;
}

.schedule {
  position: absolute;
  top: 222px;
  left: 186px;
}

.about__description {
  display: flex;
  flex-direction: column;
  width: 674px;
  margin-left: 72px;
}

.about__image {
  position: relative;
}

.schedule-second {
  position: absolute;
  top: 285px;
  left: 10px;
}
