.header-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__text {
  width: 98px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.032em;
}
