.hero__title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;
  letter-spacing: 0.1em;

  color: var(--dark-text-color);
  margin: 0;
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1440px;
  height: 448px;
  background-image: url(../../images/Group.jpg);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.hero-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.018em;
}
